{% extends 'customer/base.html' %}

{% block content %}



    <div class="container mb-5">
        <div class="row justify-content-center mt-1">
            <div class="col-md-12 col-sm-12 p-4">
                <form method="POST">
                    {% csrf_token %}
                    {% for category in categories %}
                        <h2 class="pt-5">{{ category.name }}</h2>
                        {% for menu_item in menu_items %}
                            {% if menu_item.category.name == category.name %}
                                <div class="pt-5">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-12">
                                            <img class="rounded" src="{{ menu_item.image.url }}" width="150" height="100"/>
                                        </div>
                                        <div class="col-md-8 col-sm-12">
                                            <div class="d-flex flex-row">
                                                <div class="form-group form-check">
                                                    <label class="form-check-label">
                                                        <input onchange="addToOrderList(this.checked,
                                                                '{{ menu_item.name }}', '{{ menu_item.price }}', '{{ menu_item.id }}');
                                    function addToOrderList(checked, name, price, id) {
                                        if (checked===true) {
                                            node = document.createTextNode(name + '---' + price)
                                            element = document.createElement('li')
                                                                element.id = id
                                            element.appendChild(node)
                                            document.getElementById('items').appendChild(element)
                                                                total = parseInt(document.getElementById('total').textContent)
                                                                total +=parseInt(price)
                                                                document.getElementById('total').textContent = total
                                        } else {
                                            document.getElementById(id).remove()
                                                                }
                                    };
"  type="checkbox" name="items[]"
                                                               class="form-check-input" value="{{ menu_item.pk }}">{{ menu_item.name }}
                                                    </label>
                                                </div>
                                                <p class="font-weight-bold pl-5">Ksh. {{ menu_item.price }}</p>
                                            </div>
                                            <p>{{ menu_item.description }}</p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#submitModal">
                        Submit
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="submitModalLabel">Place your Order</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container mb-5">

                                        <div class="row justify-content-center mt-5">
                                            <div class="col-md-5 col-sm-12" style="text-align: -webkit-center">
                                                <h3 class="pb-3">Order Summary:</h3>
                                                <ul id="items">
                                                </ul>
                                                <hr>
                                                <p class="font-weight-bold pt-4">Total: <span id="total">0</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
<script>

</script>