{% extends 'customer/base.html' %}

{% block content %}



<div class="container mb-5">
    <div>
     <label>
         <input class="search-label-icon mr-auto" type="search" value="{{ search }}"><a href="{% url 'search' %}">Search</a>
     </label>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}

                <div class="pt-5">
                    {% for app in Starter %}

                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ app.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ app.pk }}">
                                    <label class="form-check-label">{{ app.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">Ksh. {{ app.price }}</p>
                            </div>
                            <p>{{ app.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>
                <div class="pt-5">
                    {% for desserts in dessert %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ desserts.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ desserts.pk }}">
                                    <label class="form-check-label">{{ desserts.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">Ksh. {{ desserts.price }}</p>
                            </div>
                            <p>{{ desserts.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                <div class="pt-5">
                    {% for sp in special %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ sp.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ sp.pk }}">
                                    <label class="form-check-label">{{ sp.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">Ksh. {{ sp.price }}</p>
                            </div>
                            <p>{{ sp.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                <div class="pt-5">
                    {% for drink in drinks %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ drink.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                    <label class="form-check-label">{{ drink.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">Ksh. {{ drink.price }}</p>
                            </div>
                            <p>{{ drink.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                <div class="pt-5">
                    {% for s in starter %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ s.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ s.pk }}">
                                    <label class="form-check-label">{{ s.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">Ksh. {{ s.price }}</p>
                            </div>
                            <p>{{ s.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for b in breakfast %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ b.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ b.pk }}">
                                    <label class="form-check-label">{{ b.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">Ksh. {{ b.price }}</p>
                            </div>
                            <p>{{ b.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                            <div class="pt-5">
                    {% for beverage in beverages %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ beverage.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ beverage.pk }}">
                                    <label class="form-check-label">{{ beverage.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">Ksh. {{ beverage.price }}</p>
                            </div>
                            <p>{{ beverage.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#submitModal">
                  Submit
                </button>

                <!-- Modal -->
                <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="submitModalLabel">Place your Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit Order</button>
                      </div>
                    </div>
                  </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}